.main{
    min-width: 500px;;
}
.list{
  display: flex;
  min-width: 500px;
  background: rgba(0, 0, 0, 0.01);

}
.avatar{
    margin: 30px;
    margin-right: 40px;
}
.text{
    display: flex;
    flex-direction: column;
    order: 2;
    text-align: left;
}
.post{
    width: 600px;
    margin: 5% auto;
}
.postItem{
    display: flex;
    background: rgba(0, 0, 0, 0.01);
    border-radius: 10px;;
    padding: 1em;
}
.postText{
    display: flex;
    flex-direction: column;
    order: 2;
}
.postAvatar{
   margin: 20px;
    
}
ul {
    width: auto;
 }